@use "sass:map";
@use "element-plus/theme-chalk/src/mixins/function.scss" as *;

$custom-colors: () !default;
// Custom colors map
$custom-colors: map.deep-merge(
  (
    "white": #ffffff,
    "black": #000000,
    "selected": #e892bc,
    "on-surface-variant": #524343,
    "primary": (
      "base": #C33C54,
    ),
    "success": (
      "base": #C33C54,
    ),
    "warning": (
      "base": #e6a23c,
    ),
    "danger": (
      "base": #f56c6c,
    ),
    "error": (
      "base": #f56c6c,
    ),
    "info": (
      "base": #31111d,
    ),
  ),
  $custom-colors
);

// Use this to forward variables and overwrite defaults
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $custom-colors,
  $menu: (
    "active-color": #bff1bc,
    "bg-color": map.get($custom-colors, "primary", "base"),
    "text-color": map.get($custom-colors, "white"),
    "hover-bg-color": #ffffff66
  ),
  $button-padding-horizontal: ("default": 5px),
  $table: (
    "header-bg-color": map.get($custom-colors, "primary", "base"),
    "header-text-color": map.get($custom-colors, "white"),
    "border": 1px solid map.get($custom-colors, "primary", "base"),
    "border-color": map.get($custom-colors, "primary", "base")
  ),
  $card: ("border-color": map.get($custom-colors, "primary", "base"))
);

// Table styling overrides
table.el-card__header {
  background-color: map.get($custom-colors, "primary", "base");
}
table.el-table__header {
  background-color: map.get($custom-colors, "primary", "base");
}
.el-table th.el-table__cell {
  background-color: map.get($custom-colors, "primary", "base");
}

// Sort caret color styling
div.el-table .sort-caret.ascending {
  border-bottom-color: map.get($custom-colors, "white");
}
div.el-table .sort-caret.descending {
  border-top-color: map.get($custom-colors, "white");
}

// Carousel container height
div.el-carousel__container {
  height: 600px;
}


div.el-card__header  {
  background-color: map.get($custom-colors, "primary", "base");
}